.gallery {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;

  border-radius: 4px;
}

.gallery li {
}

.gallery img {
  max-width: 360px;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.gallery img:hover,
.gallery img:active {
  transform: scale(1.3);
}
